{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    {% if user.is_authenticated %}
         {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ user.profile.image.url }}" class=" img-fluid rounded-start" alt="{{ user.username }}" width="400px">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
         </div>
        <main class="form-signin w-100 m-auto">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Profile Info</h1>

    <div class="form-floating">
      {{ u_form|crispy }}
    </div>
    <div class="form-floating">
      {{ p_form|crispy }}

    </div>
      <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
    <p class="mt-5 mb-3 text-muted">Have no account? <a href="{% url 'signup-user' %}">Sign Up</a> for free.</p>
  </form>
</main>
     {% else %}
        <p><a href="{% url 'login-user' %}">Login</a> to view your profile.</p>
    {% endif %}
{% endblock %}