{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="form-signin w-100 m-auto">
  <form method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

    <div class="form-floating">
        {{ form|crispy }}
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">Already have an account? <a href="{% url 'login-user' %}">Login</a></p>

  </form>
</main>

{% endblock %}