{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    {% if submitted %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>Added successfully</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
    <h2>Add Post</h2>
    <br><br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <button class="btn btn-success">Submit</button>
    </form>
    {% endif %}
{% endblock %}